footer
    .footer
        h1.section__name.foot Контактная информация
        .footer-menu
            ul
                li Номер телефона
                li 8 912 345 67 89
            ul
                li Адрес главного офиса
                li Москва. ул.Пушкина.
            ul
                li Почта
                li abc123@gmail.com
            

           


    