header
    .header
        .header__banner
            .header__text-on-banner
                h1 Металообработка
                p Если вам нужны качественные и надежные металлоизделия, обращайтесь к нам! Компания “МеталМастер” всегда готова предложить лучшие решения для вашего бизнеса
                .line-bottom
        .header__menu
            ul
                li
                    a(href="./index.html") Главная
                li
                    a(href="./catalog.html") Каталог
                li
                    a(href="") Новости