header
    .header
        .header__banner.header__banner-other
        .header__menu
            ul
                li
                    a(href="./index.html") Главная
                li
                    a(href="./catalog.html") Каталог
                li
                    a(href="") Новости