doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="./css/style.css")
    body
        include modules/header
        .main
            h1.section__name История компании
            .main__about-company
                .line-left
                p Компания «Металообработка» 18 лет успешно работает на рынке металлообработки. За время своего существования компания зарекомендовала себя как надежный поставщик высококачественных металлоизделий и услуг. <br><br> Основатели компании поставили перед собой цель создать предприятие, способное удовлетворить потребности самых разных отраслей промышленности, начиная от машиностроения и заканчивая строительством. Для этого было закуплено современное оборудование, а также привлечены опытные специалисты. <br><br> На сегодняшний день компания «Метал-Мастер» предлагает широкий спектр услуг в области металлообработки: изготовление металлоконструкций, деталей и узлов, лазерная и плазменная резка металла, гибка и сварка, покраска и многое другое. <br><br> Одним из главных преимуществ компании является индивидуальный подход к каждому клиенту. Мы учитываем все пожелания заказчика и предлагаем оптимальные решения, исходя из специфики его деятельности. <br><br> Качество продукции и услуг компании «Металообработка» подтверждено многочисленными сертификатами и отзывами клиентов. Мы постоянно совершенствуем свои технологии и оборудование, чтобы оставаться лидерами на рынке металлообработки.
            h1.section__name Партнеры
            .main__partners
                .partner__block
                    img(src="./img/img_partners.png", alt="")
                .partner__block
                    img(src="./img/img_partners.png", alt="")
                .partner__block
                    img(src="./img/img_partners.png", alt="")
        include modules/footer
