doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./css/style.css")
        title Document
    body
        include modules/header(other)
        .main
            h1.section__name Вакансии
            .line-horizontal
            .main__details-blocks
                h2.details-blocks__name Главный инженер
                .main__vacans-block
                    img(src="./img/img_chief_Engineer.png", alt="")
                    .main__vacans-block-1
                        p Мы ищем специалиста, который имеет опыт работы с различными видами металла и умеет работать с современным оборудованием. Также важно, чтобы кандидат имел навыки работы с чертежами и мог быстро решать возникающие проблемы.
                        span Обязанности:
                        ul
                            li Разработка и внедрение новых технологий металлообработки;
                            li Контроль качества выпускаемой продукции;
                            li Участие в проведении испытаний новых образцов;
                            li Взаимодействие с другими подразделениями компании.
                        span Требования:
                        ul
                            li Высшее образование в области металлообработки;
                            li Опыт работы на аналогичных должностях не менее 3 лет;
                            li Знание ПК на уровне опытного пользователя;
                            li Умение работать в команде.
                h2.details-blocks__name Главный инженер
                .main__vacans-block
                    img(src="./img/img_chief_Engineer.png", alt="")
                    .main__vacans-block-1
                        p Мы ищем специалиста, который имеет опыт работы с различными видами металла и умеет работать с современным оборудованием. Также важно, чтобы кандидат имел навыки работы с чертежами и мог быстро решать возникающие проблемы.
                        span Обязанности:
                        ul
                            li Разработка и внедрение новых технологий металлообработки;
                            li Контроль качества выпускаемой продукции;
                            li Участие в проведении испытаний новых образцов;
                            li Взаимодействие с другими подразделениями компании.
                        span Требования:
                        ul
                            li Высшее образование в области металлообработки;
                            li Опыт работы на аналогичных должностях не менее 3 лет;
                            li Знание ПК на уровне опытного пользователя;
                            li Умение работать в команде.
            h1.section__name Новости
            .main__details-blocks
                .main__news-block
                    .news-block__item
                        p Открыты новые вакансии
                        .line-news
        include modules/footer